<footer class="mt-5 bg-footer px-6 py-12">
  <div class="max-w-screen-xl mx-auto px-6">
    <div class="flex pb-8">
      <div class="flex flex-grow">
        <div>
          <img class="w-52" src="https://makeitsimplett.com/wp-content/uploads/2022/06/logo-update-03.png" alt="logo">
        </div>
      </div>
      <div class="flex space-x-12">
        <div class="flex flex-col space-y-2">
          <span class="text-white poppins">About Online Food</span>
          <span class="text-white poppins">Read our blog</span>
          <span class="text-white poppins">Sign up to deliver</span>
          <span class="text-white poppins">Add your restaurant</span>
        </div>
        <div class="flex flex-col space-y-2">
          <span class="text-white poppins">Get Help</span>
          <span class="text-white poppins">Ask any question</span>
          <span class="text-white poppins">Order Now</span>
          <span class="text-white poppins">Contact</span>
        </div>
        <div class="flex flex-col space-y-2">
          <span class="text-white poppins">Facebook</span>
          <span class="text-white poppins">Instagram</span>
          <span class="text-white poppins">Twitter</span>
          <span class="text-white poppins">Youtube</span>
        </div>
      </div>
    </div>
    <div class="flex items-center pt-8">
      <div class="flex flex-grow">
        <span class="poppins text-gray-500">Developed by X-Y-Z</span>
      </div>
      <div class="flex justify-end items-center space-x-6">
        <span class="poppins text-white cursor-pointer">Privacy Policy</span>
        <span class="poppins text-white cursor-pointer">Terms of Use</span>
        <span class="poppins text-white cursor-pointer">Pricing</span>
      </div>
    </div>
  </div>
</footer>
