<div class="place-order-btn grid text-center ml-3 m-5">
  <%= button_to 'Place Order', new_order_path, method: :get, style: 'width: -webkit-fill-available;', class: 'bg-red-600 px-6 py-3 text-white poppins rounded-full ring-red-300 focus:outline-none focus:ring-4 transform transition duration-700 hover:scale-105' %>
</div>
