.header-banner {
    background-image: url('bannerbackground.png');
    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover
}
.poppins {
  font-family: 'Poppins', sans-serif;
}
.bg-primary {
  background: #f91944;
}
.bg-primary-dark {
  background: #ce193c;
}
.text-primary {
  color: #f91944;
}
.display-size {
  height: 38rem;
}
.transition-bg {
      transition: background-color 0.5s;
}
.bg-footer {
  background-color: #4a5568;
}
* {
  box-sizing: border-box;
}

.input-number, .input-number-decrement, .input-number-increment {
  border: 1px solid #ccc;
  height: 40px;
  user-select: none;
}

.input-number {
  width: 80px;
  text-align: center;
  outline: none;
  padding: 6px;
}

.input-number-decrement, .input-number-increment {
  display: inline-block;
  width: 30px;
  line-height: 38px;
  background: #f1f1f1;
  color: #444;
  text-align: center;
  font-weight: bold;
  cursor: pointer;
}

.input-number-decrement:active {
  background: #ddd;
}

.input-number-decrement {
  border-right: none;
  border-radius: 4px 0 0 4px;
}

.input-number-increment {
  border-left: none;
  border-radius: 0 4px 4px 0;
}

.food-item-image {
  width: 100%;
  height: 25vh;
}

#drawer-example {
  width: 50%;
}


@media (max-width: 768px) {
  .header-banner {
    width: 100%;
  }

  .food-item-image {
    width: 100%;
    height: 25vh;
  }

  #drawer-example {
    width: 70%;
  }

  #flash-messages {
    width: 65%;
    margin-top: 20%;
  }

  .input-number {
    width: 20px;
    height: 22px;
    text-align: center;
    outline: none;
    font-size: small;
    padding: 0 !important;
  }
  
  .input-number-decrement, .input-number-increment {
    display: inline-block;
    width: 20px;
    height: 22px;
    font-size: small;
    line-height: 19px;
    background: #f1f1f1;
    color: #444;
    text-align: center;
    font-weight: bold;
    cursor: pointer;
  }

  .food-title, .food-price {
    font-size: small;
  }
  .cart-item-image {
    width: 30%;
  }
  .coupon-input {
    width: 95% !important;
  }

  .sign-out-btn{
    font-size: small;
    padding: 0;
    width: 100%;
  }
}
